@media(max-width: 1200px){
  .sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    z-index: 200;
    background-color: white;
    width: 72px;
    padding-top: 5px;
  }
  
  .page-div{
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .page-div:hover{
    background-color: rgb(235, 235, 235);
  }
  
  .page-logo{
    height: 24px;
    margin-bottom: 3px;
  }
  
  .page-name{
    font-size: 10px;
  }
}

@media(min-width: 1200.1px){
  .sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    z-index: 200;
    background-color: white;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 80px;
  }
  
  .page-div{
    height: 74px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }
  
  .page-div:hover{
    background-color: rgb(235, 235, 235);
  }
  
  .page-logo{
    height: 24px;
    margin-bottom: 3px;
    margin-right: 30px;
  }
  
  .page-name{
    font-size: 16px;
  }
}